.table-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.table-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--pastel-dark);
}

.search-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-field {
  width: 300px;
}

.table-container {
  padding: 16px;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-field {
  flex: 1;
}

.full-width {
  width: 100%;
}

.create-button {
  background-color: var(--pastel-yellow-background);
  color: var(--pastel-dark);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 20px;
}

.create-button:hover {
  background-color: var(--pastel-success);
}

mat-dialog-content {
  min-width: 800px;
}
