
/* logout button with pastel and modern styling */
.logout-button {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: var(--pastel-background);
  border-right: 1px solid var(--pastel-border);
  transition: transform 0.3s ease, visibility 0.3s ease;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 1000;
}

.text-left {
  text-align: left;
  justify-content: flex-start;
}
